// Customize any SASS variables here
$base-theme:Default;
$skin-name:TransCircular;
$swatch-name:Default;
$border-radius: 2px;
$accent: #70b6a7;
$info: #3e80ed;
$success: #91efda;
$warning: #fdce3e;
$error: #d51923;
$text-color: #656565;
$bg-color: #ffffff;
$base-text: #656565;
$base-bg: #f6f6f6;
$hovered-text: #70b6a7;
$hovered-bg: #ededed;
$selected-text: #ffffff;
$selected-bg: #91efda;
$series-a: #91efda;
$series-b: #000000;
$series-c: #999999;
$series-d: #cccccc;
$series-e: #70b6a7;
$series-f: #ffd343;
@import "~@progress/kendo-theme-bootstrap/dist/all.scss";
@import "~bootstrap/scss/bootstrap.scss";


html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.page-container {
  margin: 1rem;
}

@import "styles/header";
@import "styles/layout";
@import "styles/panels";


